@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,700;0,800;0,900;1,600;1,700&display=swap');

body {
    background-color: #39A6A3;
}

    .cabecera {
        background-color: #DEEEEA;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding:0 5%;
        border-radius: 25px;
        height: 5em;    
    }

        .cabecera .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .cabecera .logo a img {
                width: 200px;
                max-width: 200px;
                min-width: 50px;
                max-height: 90px;
            }

        .cabecera .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 500px;
        }

            .navbar a {
                display: flex;
                align-items: center;
                font-family: 'Urbanist', sans-serif;
                font-size: 1em;
                color: #231E23;
                font-weight: 900;
                text-decoration: none;
                letter-spacing: 1.5px;
                padding: 2%;
            }

            .navbar a:hover {
                background-color: #39A6A3;
                transition: .4s;
                border-radius: 15px;
                color: #DEEEEA;
            }




